# Java / Gradle default ignores
.gradle/
build/
out/
target/

# IntelliJ IDEA specific ignores
.idea/
*.iml
*.iws
*.ipr

# VS Code ignores
.vscode/

# Local configuration files
local.properties
.DS_Store

# AI support

# Node modules (Thư viện Astryx vừa cài)
node_modules/
package-lock.json

# Các file log hệ thống
*.log