# Java / Gradle default ignores
.gradle/
build/
out/
target/

# IntelliJ IDEA specific ignores
.idea/
*.iml
*.iws
*.ipr

# VS Code ignores
.vscode/

# Local configuration files
local.properties
.DS_Store
